.clicking-wrap {
  background-color: #061826;
  color: #4dccbd;
  padding-bottom: 10px;
}

.clicker-macaron {
  padding: 30px 0 10px 0;
  height: 120px;
}

.clicker-macaron:hover {
  transform: scale(1.05);
}

.clicker-macaron:active {
  transform: scale(0.97);
}
